---
Language:        Cpp
BasedOnStyle:  llvm
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: true
ColumnLimit:     100
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
...
